$z-index: (
  filter: 800
);
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#mapid {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

form#filters {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 150px;
  padding: 5px;
  z-index: map-get($z-index, filter);
  label {
    cursor: pointer;
  }
}

.hidden {
  visibility: hidden;
}
